<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Edit this document</title>
</head>
<body>
	<h1>Hello!</h1>
	<p>All you have to do, is to replace this file with your own <strong>index.html</strong></p>
	<p>It is stored in <code>application/views/index.html</code></p>
	<p>If your application isn't configured yet, go to <a href="/admin/">admin section</a> and set your user and password</p>
</body>
</html>